* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", serif;
}

:root {
  --yellow: rgba(252, 183, 43, 1);
  --darknavy: rgba(73, 85, 103, 1);
  --dimgray: rgba(147, 156, 170, 1);
  --lightgray: rgba(242, 245, 249, 1);
  --white: rgba(255, 255, 255, 1);
  --snow: rgba(242, 245, 249, 1);
  --lightyellow: rgba(255, 244, 223, 1);
}

.container {
  max-width: 1186px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

a {
  text-decoration: none;
  color: var(--dimgray);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 58px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.navbar ul li {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: var(--dimgray);
  list-style: none;
}

.hero-btn {
  padding: 14px 39px;
  background: var(--yellow);
  border: none;
  color: var(--white);
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}

.hero {
  padding: 153px 0 152px;
  background-image: url("../images/hero-bcgrnd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-top: 21px;
}
.burger {
  display: none;
}
.text-box {
  max-width: 500px;
  width: 100%;
}
.text-box h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.5px;
  text-align: left;
  color: var(--white);
}
.text-box p {
  font-family: "Lexend Deca", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: var(--white);
  margin: 40px 0 40px 95px;
}
.text-box button {
  margin-left: 95px;
}
.hero-left {
  position: absolute;
  left: 0;
  top: 354px;
}
.hero-right {
  display: flex;
  align-items: flex-end;
  gap: 102px;
  position: absolute;
  right: -48px;
  top: 354px;
}

/* STEPS */

.steps {
  padding: 160px 0 200px;
}

.step-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.step-box {
  max-width: 350px;
  width: 100%;
}

.step-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 28px;
  width: 96px;
  height: 96px;
  background: var(--yellow);
  border-radius: 50%;
}

.step-box h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.0714285373687744px;
  text-align: left;
  color: var(--darknavy);
  margin: 40px 0 27px;
}

.step-box p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: var(--dimgray);
}
.step-box:nth-child(3) .step-img {
  position: relative;
}
.step-line {
  position: absolute;
  z-index: -1;
  right: 40px;
  width: calc(100vw);
  height: 15px;
  background-color: var(--lightgray);
}

/* FAQ */

.faq {
  padding: 120px 0 160px;
}
.faq h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.142857074737549px;
  text-align: center;
  color: #495567;
  margin-bottom: 64px;
}
.faq-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 64px;
}
.faq-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.faq-wrapper h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.7857142686843872px;
  text-align: left;
  color: #495567;
}
.faq-wrapper2 h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.7857142686843872px;
  text-align: left;
  color: #495567;
}
.faq-question-grid {
  max-width: 730px;
  width: 100%;
}
.q-box {
  padding: 32px 40px;
  background-color: var(--snow);
  position: relative;
  margin-bottom: 16px;
}
.q-box input {
  display: none;
}
.q-box h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.0714285373687744px;
  text-align: left;
  color: var(--darknavy);
}
.q-box p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: var(--darknavy);
  max-height: 0;
  overflow: hidden;
  transition: all 1000ms ease;
}

.q-box label {
  position: absolute;
  top: 42px;
  right: 40px;
  transform: rotate(0deg);
  transition: transform 1000ms ease;
}
.q-box input#inp1:checked ~ p {
  max-height: 80px !important;
  margin-top: 24px;
  transition: all 1000ms ease-in-out;
}
.q-box input#inp1:checked ~ label {
  transform: rotate(180deg);
  transition: transform 1000ms ease-in-out;
}
.q-box:hover {
  background-color: var(--lightyellow);
}
.q-box input#inp2:checked ~ p {
  max-height: 80px !important;
  margin-top: 24px;
  transition: all 1000ms ease-in-out;
}
.q-box input#inp2:checked ~ label {
  transform: rotate(180deg);
  transition: transform 1000ms ease-in-out;
}
.q-box input#inp3:checked ~ p {
  max-height: 80px !important;
  margin-top: 24px;
  transition: all 1000ms ease-in-out;
}
.q-box input#inp3:checked ~ label {
  transform: rotate(180deg);
  transition: transform 1000ms ease-in-out;
}
.q-box input#inp4:checked ~ p {
  max-height: 80px !important;
  margin-top: 24px;
  transition: all 1000ms ease-in-out;
}
.q-box input#inp4:checked ~ label {
  transform: rotate(180deg);
  transition: transform 1000ms ease-in-out;
}
.q-box input#inp5:checked ~ p {
  max-height: 80px !important;
  margin-top: 24px;
  transition: all 1000ms ease-in-out;
}
.q-box input#inp5:checked ~ label {
  transform: rotate(180deg);
  transition: transform 1000ms ease-in-out;
}
.q-box input#inp6:checked ~ p {
  max-height: 80px !important;
  margin-top: 24px;
  transition: all 1000ms ease-in-out;
}
.q-box input#inp6:checked ~ label {
  transform: rotate(180deg);
  transition: transform 1000ms ease-in-out;
}

@media (max-width: 1400px) {
  .hero-right {
    gap: 40px;
  }
  .hero-left {
    left: unset;
    right: 1197px;
  }
}
@media (max-width: 1240px) {
  .hero {
    padding: 137px 0 217px;
  }
  .text-box {
    max-width: 573px;
    width: 100%;
    margin: 0 auto;
  }
  .text-box h2 {
    text-align: center;
  }
  .text-box p {
    text-align: center;
    margin: 24px 0 32px;
  }
  .text-box button {
    display: block;
    margin: 0 auto;
  }
  .hero-left {
    display: none;
  }
  .hero-right {
    right: -31px;
    top: 473px;
    gap: 590px;
  }
}
@media (max-width: 1113px) {
  .hero {
    padding: 137px 98px 217px;
  }
  .hero-right {
    gap: calc(100vw - 510px);
  }
}
@media (max-width: 800px) {
  .hero {
    padding: 137px 98px 217px;
  }
  .hero-right {
    top: 480px;
  }
  .step-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .step-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 79px;
    max-width: 573px;
  }
  .step-box h3 {
    margin: 0 0 27px;
  }
  .step-box p {
    max-width: 398px;
  }
  .step-line{
    bottom: 40px;
    height: calc(400vh);
    width: 15px;
  }
}
@media (max-width: 690px) {
  .hero-right img:nth-child(2) {
    display: none;
  }
  .hero-right {
    right: unset;
    left: -312px;
    top: 538.59px;
  }
  .hero {
    padding: 115px 0 179px;
    margin-top: 24px;
  }
  .text-box {
    max-width: 311px;
    width: 100%;
  }
  .burger {
    display: block;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar nav ul li {
    display: none;
  }
  .hero-btn {
    display: none;
  }
}
@media (max-width: 420px) {
  .hero {
    padding: 115px 32px 179px;
  }
  .hero-right {
    top: 610.59px;
  }
}
